.error-page-container {
    height: calc(100vh - 407px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .text-404 {
        font-size: 288px;
        font-weight: 700;
        line-height: 143%;
        color: #FF6060;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 143%;
        color: #FF6060;
    }

    .retour-link {
        font-size: 18px;
        font-weight: 500;
        line-height: 143%;
        margin-top: 50px;
        text-decoration: underline;
        color: #000000;
    }
}